PyQt6==6.7.1
obspy==1.4.1
numpy==1.26.4
scipy==1.13.1
matplotlib==3.9.2
requests==2.32.3
PyYAML==6.0.2
jsonschema==4.23.0
jsonref==1.1.0
pydantic==2.9.2
pydantic-settings==2.6.1
fastapi==0.115.5
uvicorn==0.32.1
nicegui==2.7.0
python-dotenv==1.0.1
pytest==8.3.3
